button.button-c {
  border-radius: 100%;
}

button.button-f {
  border-radius: 100%;
}

button.button-f:hover {
  background: #5b5b5c;
  border-color: #5b5b5c;
}
div.degree-button {
  margin-left: 2px;
}

h1 {
  font-weight: 900;
  padding-left: 25px;
}

h2.current-day,
h2.current-weather {
  font-weight: 300;
  padding-left: 25px;
  text-transform: capitalize;
}

p.temperature {
  font-size: 80px;
  font-weight: 700;
  line-height: 0.8;
  display: inline;
}

div.current-info {
  margin-left: 50px;
}

div.degree-toggle {
  margin-left: 20px;
  padding: 0;
}

img.weather-icon {
  width: 120px;
  height: 120px;
}

div.row-humidity,
div.row-wind {
  line-height: 0;
  height: 34px;
  text-align: left;
}

.img-wind-large,
.img-humidity-large {
  font-size: 30px;
  margin-top: 15px;
  margin-left: 10px;
  color: #343a40;
}

.p-humidity-large,
.p-wind-large {
  margin-left: 20px;
  display: inline;
  font-size: 24px;
  font-weight: 300;
}

@media (max-width: 900px) {
  h1 {
    font-size: 34px;
    font-weight: 900;
  }

  h2 {
    font-size: 24px;
  }

  p.temperature {
    font-size: 60px;
  }

  .img-wind-large,
  .img-humidity-large {
    font-size: 26px;
  }

  .p-wind-large,
  .p-humidity-large {
    font-size: 22px;
    font-weight: 700;
  }
}

@media (max-width: 720px) {
  h1 {
    font-size: 30px;
    font-weight: 900;
  }

  h2 {
    font-size: 22px;
  }

  p.temperature {
    font-size: 48px;
  }

  .img-wind-large,
  .img-humidity-large {
    font-size: 22px;
  }

  .p-wind-large,
  .p-humidity-large {
    font-size: 20px;
    font-weight: 700;
  }
  .button-c,
  .button-f {
    padding: 5px;
    font-size: 12px;
  }
}

@media (max-width: 680px) {
  h1 {
    font-size: 26px;
    font-weight: 900;
  }

  h2 {
    font-size: 18px;
  }

  p.temperature {
    font-size: 40px;
  }

  .img-wind-large,
  .img-humidity-large {
    font-size: 18px;
  }

  .p-wind-large,
  .p-humidity-large {
    font-size: 20px;
    font-weight: 700;
  }
}

@media (max-width: 660px) {
  img.weather-icon {
    width: 80px;
    height: auto;
    padding-left: 0;
  }

  div.current-info {
    margin-left: 30px;
    padding-left: 0;
  }

  h1 {
    font-size: 24px;
    font-weight: 900;
  }

  h2 {
    font-size: 14px;
  }

  p.temperature {
    font-size: 34px;
  }

  .img-wind-large,
  .img-humidity-large {
    font-size: 14px;
  }

  .p-wind-large,
  .p-humidity-large {
    font-size: 14px;
    font-weight: 700;
    margin-left: 0;
  }

  .current-weather {
    padding-left: 0;
  }

  .col-5 {
    width: 30%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 18px;
    font-weight: 900;
  }

  p.temperature {
    font-size: 20px;
  }

  img.weather-icon {
    width: 50px;
    height: auto;
  }

  .img-wind-large,
  .img-humidity-large {
    font-size: 12px;
    display: block;
  }

  .p-wind-large,
  .p-humidity-large {
    font-size: 14px;
    font-weight: 700;
    margin-left: 0;
  }

  .current-weather {
    padding-left: 0;
  }

  .col-5 {
    width: 40%;
  }
}
