.location {
  background: #ffffff;
  display: block;
  margin: 0;
  border-color: #e2e6ea;
}

.location:hover {
  background: #cccfd3;
}

.current-location {
  padding-left: 10px;
}

.search {
  background: #047bfe;
  border: 1px solid #047bfe;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  text-rendering: auto;
  line-height: 1;
}

.search:hover {
  background: #0461c5;
  border: 1px solid #0461c5;
}

.search-bar {
  padding-left: 0;
  padding-right: 20px;
}

.search-bar-row {
  padding-left: 25px;
  margin: 20px 0;
}

.button-c {
  border-radius: 100%;
}

.button-f {
  border-radius: 100%;
}

.button-f:hover {
  background: #5b5b5c;
  border-color: #5b5b5c;
}
.degree-button {
  margin-left: 2px;
  display: block;
}

h1 {
  font-weight: 900;
  padding-left: 25px;
}

.current-day,
.current-weather {
  font-weight: 300;
  padding-left: 25px;
  text-transform: capitalize;
}

.temperature {
  font-size: 80px;
  font-weight: 700;
  line-height: 0.8;
  display: inline;
}

.current-info {
  margin-left: 50px;
}

.degree-toggle {
  margin-left: 20px;
  padding: 0;
}

.weather-icon {
  width: 120px;
  height: 120px;
}

.humidity,
.wind {
  line-height: 0;
  height: 34px;
  text-align: left;
  list-style: none;
}

.img-wind-large,
.img-humidity-large {
  font-size: 30px;
  margin-top: 15px;
  margin-left: 10px;
  color: #343a40;
}

.p-humidity-large,
.p-wind-large {
  margin-left: 20px;
  display: inline;
  font-size: 24px;
  font-weight: 300;
}
