h1 {
  font-weight: 900;
  padding-left: 25px;
}

.current-day,
.current-weather {
  font-weight: 300;
  padding-left: 25px;
  text-transform: capitalize;
}

.current-weather-icon {
  position: relative;
  left: 50px;
}

.temperature {
  font-size: 80px;
  font-weight: 700;
  line-height: 0.8;
  display: inline;
  position: relative;
  left: 50px;
  top: 30px;
}

.current-info {
  margin-left: 30px;
  min-width: 250px;
}

.humidity,
.wind {
  line-height: 0;
  height: 34px;
  text-align: left;
  list-style: none;
}

.img-wind-large,
.img-humidity-large {
  font-size: 30px;
  margin-top: 15px;
  margin-left: 10px;
  color: #343a40;
}

.p-humidity-large,
.p-wind-large {
  margin-left: 20px;
  display: inline;
  font-size: 24px;
  font-weight: 300;
}

.unit {
  vertical-align: top;
  position: relative;
  left: 50px;
  top: 30px;
}

.humidity-wind {
  position: relative;
  left: 30px;
}
