.button-c {
  border-radius: 100%;
}

.button-f {
  border-radius: 100%;
}

.button-f:hover {
  background: #5b5b5c;
  border-color: #5b5b5c;
}
.degree-button {
  margin-left: 2px;
  display: block;
}

h1 {
  font-weight: 900;
  padding-left: 25px;
}

.current-day,
.current-weather {
  font-weight: 300;
  padding-left: 25px;
  text-transform: capitalize;
}

.temperature {
  font-size: 80px;
  font-weight: 700;
  line-height: 0.8;
  display: inline;
}

.current-info {
  margin-left: 50px;
}

.degree-toggle {
  margin-left: 20px;
  padding: 0;
}

.humidity,
.wind {
  line-height: 0;
  height: 34px;
  text-align: left;
  list-style: none;
}

.img-wind-large,
.img-humidity-large {
  font-size: 30px;
  margin-top: 15px;
  margin-left: 10px;
  color: #343a40;
}

.p-humidity-large,
.p-wind-large {
  margin-left: 20px;
  display: inline;
  font-size: 24px;
  font-weight: 300;
}
